* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background: rgb(255, 175, 175);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 175, 175);
  border: 2px solid rgb(245, 120, 120);
  padding: 1rem;
}

.header-container h1 {
  font-size: 3rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgb(234, 215, 215);
  padding: 3rem 0;
}

.grid-container {
  border: 3px solid black;
  display: grid;
  min-height: 30rem;
  min-width: 30rem;
}

.slider-container {
    margin: 1rem 0;
}

.reset-btn {
    margin: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(255, 175, 175);
    border: 1px solid rgb(245, 120, 120);
    border-radius: 30px;
    cursor: pointer;
}

footer {
  height: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 175, 175);
  border-top: 2px solid rgb(245, 120, 120);
  padding-top: 1rem;
}

.footer-container a {
    margin-right: 0.5rem;
}
